<div class="w-full h-full flex flex-no-wrap">
	<div class="vs-tabs-list overflow-y-auto w-full px-10 py-20 border-r-1 border-solid border-theme-bluegray-300"
		 style="width: 25rem;">
		<ng-container *ngFor="let tab of tabs">
			<p (click)="selectTab(tab)"
			   class="vs-tab-header user-select-none flex items-center flex-no-wrap w-full font-medium mb-7"
			   [ngClass]="{
					'vs-tab-active': tab.selected,
					'vs-tab-disabled': tab.disabled
				}"
			>
				<i *ngIf="tab.icon" nz-icon [nzType]="tab.icon" class="text-md m-0 mr-7"
				   nzTheme="outline"></i> {{ tab.label }}
			</p>
		</ng-container>
	</div>

	<div class="h-full w-full overflow-auto">
		<vs-visualizar-imagen class="watermark" [codigoEspacio]="6"></vs-visualizar-imagen>
		<div [style]="bodyStyle" [class]="bodyClass">
			<ng-container *ngIf="topLayout">
				<ng-container *ngIf="layouts.top">
					<ng-container *ngTemplateOutlet="topLayout"></ng-container>
				</ng-container>
			</ng-container>

			<div class="w-full"
				 [ngClass]="{
				'flex flex-no-wrap relative overflow-auto items-start': leftLayout || rigthLayout
			}">
				<ng-container *ngIf="leftLayout">
					<ng-container *ngIf="layouts.left">
						<ng-container *ngTemplateOutlet="leftLayout"></ng-container>
					</ng-container>
				</ng-container>

				<div class="w-full">
					<ng-content></ng-content>
				</div>

				<ng-container *ngIf="rigthLayout">
					<ng-container *ngIf="layouts.rigth">
						<ng-container *ngTemplateOutlet="rigthLayout"></ng-container>
					</ng-container>
				</ng-container>
			</div>

			<ng-container *ngIf="bottomLayout">
				<ng-container *ngIf="layouts.bottom">
					<ng-container *ngTemplateOutlet="bottomLayout"></ng-container>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>
