.border-transparent {
	border-color: transparent;
}

.vs-tabs-list {
	background: #F7FAFF;

	.vs-tab-header {
		border: 1px solid transparent;
		padding: 0.55rem 1rem;
		min-height: 3.7rem;
		cursor: pointer;
		color: var(--black-100);
		opacity: 0.9;
		border-radius: 0.5rem;

		&:hover {
			background: var(--bluegray-300);
			opacity: 1;
		}
	}

	.vs-tab-active {
		opacity: 1;
		border-color: var(--primary);
		background: #FFF;
		color: var(--primary);

		&:hover {
			background: #FFF;
		}
	}

	.vs-tab-disabled {
		color: var(--bluegray-400);
		cursor: not-allowed;

		&:hover {
			background: transparent;
		}
	}
}

.watermark {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -999999;
}
